body{
    background: rgb(253, 0, 0);
    color: rgb(0, 0, 0);
    padding:10px;
    font-family: arial;
}
#all-contents {
    max-width: 800px;
      margin: auto;
}

/* navigation menu */
nav {
    background: rgb(3, 255, 213)
    margin: 0 auto;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(0, 4, 255);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block'
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #0011ff;
}

/*main container area beneath menu*/
main {
    background: rgb(255, 255, 255);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#intrest {
    border: 4px silver ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}